<div class="container">
	<div class='row'>
		<% if @user.errors.any? %>
			<ul>
			<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		<% end %>
	</div>
	<div class="row">
		<section>
			<div class="wizard">
				<div class="wizard-inner">
					<div class="connecting-line"></div>
					<ul class="nav nav-tabs" role="tablist">

						<li role="presentation" class="active">
							<a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
								<span class="round-tab">
									<i class="glyphicon glyphicon-folder-open"></i>
								</span>
							</a>
						</li>

						<li role="presentation" class="disabled">
							<a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
								<span class="round-tab">
									<i class="glyphicon glyphicon-pencil"></i>
								</span>
							</a>
						</li>
						<li role="presentation" class="disabled">
							<a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
								<span class="round-tab">
									<i class="glyphicon glyphicon-picture"></i>
								</span>
							</a>
						</li>

						<li role="presentation" class="disabled">
							<a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
								<span class="round-tab">
									<i class="glyphicon glyphicon-ok"></i>
								</span>
							</a>
						</li>
					</ul>
				</div>

				<div class="container" >
					<div class="row">
						<div class="col-lg-12 col-lg-offset-6 center-block" > 
							<%= form_for(@user) do |form| %>
								<div class="tab-content">
									<div class="tab-pane active" role="tabpanel" id="step1">
										<h3>Profile</h3>

										<label class="col-xs-4 sr-only"></label>
										<b>First Name: </b>
										<%= form.text_field :first_name, class:"form-control", placeholder:"Enter your first name" %></br>


										<label class="col-xs-4 sr-only">Last Name</label>
										<b>Last Name: </b> 
										<%= form.text_field :last_name ,class:"form-control", placeholder:"Enter your last name" %></br>

										<label class="col-xs-4 sr-only">Biography</label>
										<b>Biography: </b> 
										<%= form.text_area :bio ,class:"form-control", placeholder:"Tell us more about yourself" %></br>

										<label class="col-xs-4 sr-only">Interests</label>
										<b>Interests: </b> 
										<%= form.text_area :interests ,class:"form-control", placeholder:"What's your interest?" %></br>

										<label class="col-xs-4 sr-only">Birthdate</label>
										<b>Birthdate: </b> 
										<%= form.date_field :birthdate ,class:"form-control", placeholder:"Birthday" %></br>

										<label class="col-xs-4 sr-only">Location</label>
										<b>Location: </b> 
										<%= form.text_area :address ,class:"form-control", placeholder:"Where are you?" %></br>
										
										<b>Email: </b> 
										<label class="col-xs-4 sr-only"> Email</label>
										<%= form.text_field :email, class:"form-control", placeholder:"Email"%></br>

										<ul class="list-inline pull-right" style="text-align: center;">
											<li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
										</ul>
									</div>

									<div class="tab-pane" role="tabpanel" id="step2">
										<h3>Emergency Contact Information</h3>
										<label class="sr-only">First Name</label>
										<b>First Name: </b> 
										<%= form.text_field :emer_first ,class:"form-control", placeholder:"First Name" %></br>

										<label class="sr-only">Last Name</label>
										<b>Last Name: </b> 
										<%= form.text_field :emer_last ,class:"form-control", placeholder:"Last Name" %></br>

										<label class="sr-only">Address</label>
										<b>Address: </b> 
										<%= form.text_area :emer_address ,class:"form-control", placeholder:"Address" %></br>

										<label class="sr-only">Phone Number</label>
										<b>Phone Number: </b> 
										<%= form.telephone_field :emer_phone ,class:"form-control" %></br>

										<div class="dropdown">
											<button class="btn btn-default dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											<span class="caret"></span>
											</button>
												<b>Relation: </b>
												<ul>
												<li><%= form.select :emer_relation,
													[['Dad','Dad'],['Mom','Mom'],
													['Sibling','Sibling'],['Son','Son'],
													['Daughter','Daughter'],['Others','Others']] ,class:"form-control" ,class:"dropdown-menu" ,'aria-labelledby':"dropdownMenu1"%></li>
												</ul>
										</div>

										<ul class="list-inline pull-right">
											<li><button type="button" class="btn btn-default prev-step">Previous</button></li>
											<li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
										</ul>
									</div>
									<div class="tab-pane" role="tabpanel" id="step3">
										<h3>Profile Picture</h3></br>

										<label class="sr-only" > Avatar</label>
										<%= form.file_field :avatar %>

										<ul class="list-inline pull-right">
											<li><button type="button" class="btn btn-default prev-step">Previous</button></li>
											<li><button type="button" class="btn btn-default next-step">Skip</button></li>
											<li><%= form.submit "Update Profile", class: "btn btn-primary btn-info-full next-step" %></button></li>
											<% end %>
										</ul>
									</div>
									
									<div class="tab-pane" role="tabpanel" id="complete">
										<h3>Complete</h3>
										<p>You have successfully completed all steps.</p>
									</div>
									<div class="clearfix"></div>
								</div>
						</div>
					</div>
				</div>
		</div>
	</section>
</div>
</div>