<center>
	<h1 id="title" style="padding-bottom: 20px">Travel Log</h1>
	<h3>Create your own Travel Log to document your adventures</h3>
	<h4>Share this with your friends and followers</h4>
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="well"> 
					<div id="myCarousel" class="carousel slide">

						<ol class="carousel-indicators" style="height: 0px;">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
						</ol>

						<!-- Carousel items -->
						<div class="carousel-inner">

							<div class="item active">
								<div class="row-fluid">
									<div class="span3"><%= image_tag("i1.jpeg")%></div>
									<div class="span3"><%= image_tag("i2.jpeg")%></div>
									<div class="span3"><%= image_tag("i3.jpeg")%></div>
									<div class="span3"><%= image_tag("i4.png")%></div>
								</div><!--/row-fluid-->
							</div><!--/item-->

							<div class="item">
								<div class="row-fluid">
									<div class="span3"><%= image_tag("i5.jpeg")%></div>
									<div class="span3"><%= image_tag("i6.png")%></div>
									<div class="span3"><%= image_tag("i7.jpeg")%></div>
									<div class="span3"><%= image_tag("i8.png")%></div>
								</div><!--/row-fluid-->
							</div><!--/item-->

							<div class="item">
								<div class="row-fluid">
									<div class="span3"><%= image_tag("i9.jpg")%></div>
									<div class="span3"><%= image_tag("i10.jpg")%></div>
									<div class="span3"><%= image_tag("i11.jpg")%></div>
									<div class="span3"><%= image_tag("i12.jpeg")%></div>
								</div><!--/row-fluid-->
							</div><!--/item-->

						</div><!--/carousel-inner-->

						<a class="left carousel-control" href="#myCarousel" data-slide="prev" style="padding-top:5%; padding-right: 120px; font-size:80px; height: 243px;">‹</a>
						<a class="right carousel-control" href="#myCarousel" data-slide="next" style="padding-top:5%; padding-left: 120px; font-size:80px; height: 243px;">›</a>
					</div><!--/myCarousel-->

				</div><!--/well-->   
			</div>
		</div>
	</div>

 <!-- BLOG POST 1-->
<div class="row" style="margin-left: 27%">
  <div class="span8">
    <div class="row">
      <div class="span8">
        <h3 id="title"><strong><a href="#">Amidst the hustle & bustle of Hong Kong</a></strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <a href="#" class="thumbnail">
           <%= image_tag("i3.jpeg")%>
        </a>
      </div>
      <div class="span6">      
        <p style="text-align: justify;">
          So we decided to go to Hong Kong on a last-minute whim; without an itinerary or planning prior to our arrival, we were concerned that we wouldn't bet able to make the most of our trip. Luckily, we connected with <a href="#"><b>@Lam Sheng Xiong</b></a> and <a href="#"><b>@Jian Hew</b></a> on Local Host and they showed us around the city. Hong Kong is a vibrant city with a certain charm. Every corner you turn reminds you of a still from a Wong Kar Wai movie. AND THE FOOD!
        </p>
<!--         <p><a class="btn" href="#">Read more</a></p> -->
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <p></p>
        <p>
          <i class="icon-user"></i> by <a href="#">Sam Tingle</a> 
          | <i class="icon-calendar"></i> Sept 19th, 2015
          | <i class="icon-comment"></i> <a href="#">2 Comments</a>
          | <i class="icon-share"></i> <a href="#">14 Shares</a>
          <i class="icon-tags"></i><br> Tags : <a href="#"><span class="label label-info">Hong Kong</span></a> 
          <a href="#"><span class="label label-info">Asia</span></a> 
          <a href="#"><span class="label label-info">Sightseeing</span></a> 
          <a href="#"><span class="label label-info">City</span></a>
        </p>
      </div>
    </div>
  </div>
</div>
<hr>
 <!-- BLOG POST 2-->
<div class="row" style="margin-left: 27%">
  <div class="span8">
    <div class="row">
      <div class="span8">
        <h3 id="title"><strong><a href="#">Sakura in Japan</a></strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <a href="#" class="thumbnail">
            <%= image_tag("i10.jpeg")%>
        </a>
      </div>
      <div class="span6">      
        <p style="text-align: justify;">
          I was fortunate enough to visit Tokyo twice on two separate trips. The first one was April and I was totally blown away by the beauty of Tokyo’s cherry blossoms! There are countless of things to in Tokyo and it is best to spend a full week to fully appreciate the beauty of the city. I was also fortunate enough to meet <a href="#"><b>@Keiko Nakamura</b></a> who introduced me to the wonderous Tsukiji Market; we had to wake up at 5am but it was definitely worth the effort!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <p></p>
        <p>
          <i class="icon-user"></i> by <a href="#">Sam Tingle</a> 
          | <i class="icon-calendar"></i> April 3rd, 2015
          | <i class="icon-comment"></i> <a href="#">1 Comment</a>
          | <i class="icon-share"></i> <a href="#">3 Shares</a>
          <i class="icon-tags"></i><br> Tags : <a href="#"><span class="label label-info">Tokyo</span></a> 
          <a href="#"><span class="label label-info">Japan</span></a> 
          <a href="#"><span class="label label-info">Sightseeing</span></a> 
          <a href="#"><span class="label label-info">Nature</span></a>
        </p>
      </div>
    </div>
  </div>
</div>
<hr>
 <!-- BLOG POST 3-->
<div class="row" style="margin-left: 27%">
  <div class="span8">
    <div class="row">
      <div class="span8">
        <h3 id="title"><strong><a href="#">Amazing Rio</a></strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <a href="#" class="thumbnail">
            <%= image_tag("i7.jpeg")%>
        </a>
      </div>
      <div class="span6">      
        <p>
          A trip to Rio would not be complete unless you see the statue of Christ The Redeemer in all its glory! Rio is generally a party city and one that you really can’t miss if you love having a good time. Most people spend their days on the beach and their nights dancing at nightclubs - obviously, I had to check it out!
        </p>
<!--         <p><a href="#">Read more</a></p> -->
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <p></p>
        <p>
          <i class="icon-user"></i> by <a href="#">Sam Tingle</a> 
          | <i class="icon-calendar"></i> August 26th, 2014
          | <i class="icon-comment"></i> <a href="#">0 Comment</a>
          | <i class="icon-share"></i> <a href="#">3 Shares</a>
          <i class="icon-tags"></i><br> Tags : <a href="#"><span class="label label-info">Rio De Janeiro</span></a> 
          <a href="#"><span class="label label-info">Brazil</span></a> 
          <a href="#"><span class="label label-info">Sightseeing</span></a> 
          <a href="#"><span class="label label-info">Hiking</span></a>
        </p>
      </div>
    </div>
  </div>
</div>
<hr>


<!-- COMMENTS -->
	<!-- Container, Row, and Column used for illustration purposes -->
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">

				<!-- Fluid width widget -->        
				<div class="panel panel-default">
					<div class="panel-heading" style="background-color: #1abc9c ; color: #fff">
						<h3 class="panel-title">
							<span class="glyphicon glyphicon-comment"></span> 
							Recent Comments
						</h3>
					</div>
					<div class="panel-body">
						<ul class="media-list">
							<li class="media">
								<div class="media-left">
									<%= image_tag("keiko.jpg", size: '60x60', class: "img-circle") %>
								</div>
								<div class="media-body">
									<h4 class="media-heading">
										Keiko Nakamura
										<br>
										<small style="color: #34495e;">
											commented<a href="#">Sakura In Japan</a>
										</small>
									</h4>
									<p>
										It was nice to meet you Sam! I hope we can meet again, maybe when I visit Australia!
									</p>
								</div>
							</li>
							<li class="media">
								<div class="media-left">
									<%= image_tag("lam.png", size: '60x60', class: "img-circle") %>
								</div>
								<div class="media-body">
									<h4 class="media-heading">
										Lam Sheng Xiong
										<br>
										<small style="color: #34495e;">
											commented<a href="#">Amidst the hustle & bustle of Hong Kong</a>
										</small>
									</h4>
									<p>
										Nice to meet you Sam! Hope you enjoyed the Dim Sum!
									</p>
								</div>
							</li>
							<li class="media">
								<div class="media-left">
									<%= image_tag("jian.png", size: '60x60', class: "img-circle") %>
								</div>
								<div class="media-body">
									<h4 class="media-heading">
										Jian Hew
										<br>
										<small style="color: #34495e;">
											commented<a href="#">Amidst the hustle & bustle of Hong Kong</a>
										</small>
									</h4>
									<p>
										Hope you enjoyed HK! Next time you should show us around Australia!
									</p>
								</div>
							</li>
						</ul>
						<a href="#" class="btn btn-default btn-block"; background-color: "#2ecc71">More Events »</a>
					</div>
				</div>
				<!-- End fluid width widget --> 

			</div>
		</div>
	</div>


</center>