<%= form_for [@user, @review] do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div id="user_stars">
  <%= f.hidden_field :reviewer_id, value: current_user.id %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $('#user_stars').raty({
    path: '/assets',
    scoreName: 'review[star]',
    score: 1
  });
  
</script>