<!DOCTYPE html>
<html>
<head>
  <title>LocalHost</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %>
    <% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

<div class="container">
  <% if alert %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
  <% end %>
  <% if notice %>
      <div class="alert alert-success" role="alert"><%= notice %></div>
  <% end %>


  <%= yield %>
</div>

<audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio>

</body>
  
  <% if current_user %>
    <script type="text/javascript">
        channel = <%= raw ('"' + '/notifications' + current_user.id.to_s + '"') %>
        PrivatePub.subscribe(channel, function(data) {
        var sender_id = data.sid;
        var recipient_id = data.rip;
        var conversation_id = data.cid;
        $.post("/conversations", { sender_id: sender_id, recipient_id: recipient_id }, function (data) {
            chatBox.chatWith(conversation_id);
        });
        });
    </script>
    <%= subscribe_to "/notifications" + current_user.id.to_s %>
  <% end %>

</html>


